.form-inputs {
  max-width: 11rem;
}

.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.home-title {
  text-align: center;
}

.account-btn {
  margin-left: 0.5rem;
}

.login-btn {
  margin-top: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-left: 1.5rem;
}
